
html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Nav-Bar */

.app-bar{
  /* background-color: #343434 !important;  */
  background-color: #08417a !important; 

}
.logo-container{
  display:flex;
  align-items:center;
  justify-content:center
}
.logo{
font-size: 30px;
font-weight: bold;
color:	#ffff;
letter-spacing: 5px;
}

.grid-column{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}

/* Main-Landing-Page*/

.header{
  background-image: url("../public/bg-2.jpg");  
  width:100%;
  height: 100vh;
  }

  .header-bg{
    background: rgba(0,0,0,.5);

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    color:#fff
  } 

  .header-text{
    width:90%;
   }

  .header-content{
   margin-top: 17%;
 }

  .app-heading{
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
    .app-heading h1{
      text-align: center;
      word-spacing: 4px;
      letter-spacing: 3px;
      font-weight: 400;
    }
    .verify-icon{
      margin-left: 30px;
      font-size: 50px;
      color:#ffff
     
    }
    .app-para{
      width: 70%;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
    }
    .app-para h3{
      text-align: center;
      line-height: 3;
      word-spacing: 8px;
      letter-spacing: 3px;
      font-weight: 400;
}
    .header-button{
      width:70%;
      margin-top: 40px;

      margin-left: auto;
      margin-right: auto
    }
    .header-button-content{
      width: 30%;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
    }
    .copy-right{
      width:70%;
      margin-top: 20%;
      margin-left: auto;
      margin-right: auto
    }
    .copy-right-text{
      width:50%;
      margin:0 auto;
      text-align: center;
    }
    .copy-right-para{
      letter-spacing: 2px;
      word-spacing: 3px;
      font-size: 18px;
    }
/* TAB */

.Tab-div{
  margin-top: 50px;
}
.tab-column{
  margin-top: 40px;
}
.tab-container{
  margin-top: 22px;
  background: #fcfcfc;
  height: 92vh;

}
.Tab-List{
  background-color: #08417a;
}

.avatar{
   font-size: 40px;
 
  }



/*Login -pages*/
.login-container{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
   margin-top: 30%,
}
.paper-style {
   padding: 28px;
    width: 450px;
    border-radius: 10px;
}
.paper-residency{
  border-radius: 10px;
}
.residency-col{
  margin-top:-10%
}
.residency-section{
    margin: 0 auto;
    width: 95%;
    display: flex;
    padding: 30px 0,
    
}
.avatarStyle{
  background: rgb(80 74 74) !important
}
.btnStyle{
margin: 10px 0;
background: rgb(80 74 74),
}


/* Tenant-Dashboard */


  .lg-2{
    
    height: 93vh 
  }
  .dashboard-tenant-paper{
    
    width: 100%;
    height: 100vh;
    /* background: #808080 !important; */
    background:#08417a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 5px solid #FFF8DC;

    
  }
  .Dashboard-Heading{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 1px;
    color: #A9A9A9
   

    
  }
  .TRVS{
    letter-spacing: 10px;
    color:#DCDCDC;
    font-size: 30px;
    cursor: pointer;
  }
  .TRVS:hover{
    color:#FFFAF0
  }
  .guest{
    letter-spacing: 1px;
    color:#DCDCDC;
    font-size: 19px;
    cursor: pointer;
    word-spacing: 1px;
  }
  .guest:hover{
    color:#FFFAF0;
  }
    
.Content{
  width:70%;
  margin: 0 auto;
  height: 70vh;
  display: flex;
  justify-content: center;
  
  
}

    .tenant-heading h1{
    text-align: center;
    color: #F0FFFF;
    font-weight: 200;
    
  }
  .your-information-section{
  
         height:90vh ;
         background: whitesmoke;

  
  }
  .dashboard-logo{
 font-size: 50px;
 color: #F0FFFF;

}
.tenant-dashboard{
text-align: center;
color: #F0FFFF;
word-spacing: 2px;
letter-spacing: 1px;
font-weight: 200;

}
.add{

    width:52% ;
    display: flex;
    justify-content: flex-end;
}
.remove{
  width:55%;
  display: flex;
  justify-content: flex-end;
}
.no-residency-added{
  margin:10px auto ;
  width:90%;
  padding-bottom: 10px;
}


.welcome-tenant{
  display: flex;
  justify-content: space-around;
}
.welcome-tenant h1{
  color: #555555;
    letter-spacing: 1px;
}
.logout-icon{
 display: flex;
align-items: center;
margin-bottom: 20px;
}
.paper{
  width:"500px";
}

.information-heading{

 display: flex;
 align-items: center;
 padding-top: 0px;
}
.person-icon{
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.info{
  /* border: 2px solid red; */
  width:80%;
  margin: 10px auto;
  padding-bottom: 10px;

}
.main-residency-div{
 padding-top: 40px
}
.residency{
  display:flex;
  align-items:center;
  font-size: 24px;
}



/* ADD-RESIDENCY */
.residency-div{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: whitesmoke;
}
.residency-paper{

width:700px;
padding:30px
}



.section-residency{

   
    margin :0 auto;
    width:95%;
    display: flex;
    padding:30px 0 ;
}
.residency-content{
     width:12% ;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 20px;
     font-weight: bold;

}
.last-col{

    width: 92%;
    margin: 0 auto
 
}
/* Tenant-SignUp */
.tenant-signUp-div{

    margin-top: 64px;
    width: 100vw;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(141 136 136)

}
.paperStyle{
  padding-top: 10px;
  width: 700px;
  background: rgb(242 238 238),
};
.avatarStyle{
  background-color: #1a1515;
   margin: 10px 0

}
.change-password-col{
  position: absolute;
  left: 70%;
  top:30%
}
.hotel-container{
 
       height: 790px;
       background-color: whitesmoke;
   
}
/* ADD GUEST DIALOG */
.DialogTitle{
 
    display: flex;
    justify-content:center;

}


.borderBottom {

  color: #1E90FF
}
.active{
border-bottom: 2px solid #DCDCDC;
}